h1{
	font-weight: bold;
	color: #2b73b3;
	margin-top:2rem;
	margin-left: 3rem;
	margin-bottom: 2rem;
	text-decoration:underline; 
}

.LabelForm{
	width :15rem;
	height:2rem;
	margin-left: 8rem;
	color: #2b73b3;
	font-size: 1.5rem;
}

.form-row{
	margin-bottom: 1rem;
}

.SelectForm{
	height: 2rem;
}

#inputSubmit{
	margin-top: 2rem;
	margin-bottom: 5rem;
	margin-left:6rem;
	width: auto;
}