#TitreSeeAide{
	font-weight: bold;
	color: #2b73b3;
	margin-left: 3rem;
	margin-bottom: 2rem;
	text-decoration:underline;
	margin-top: 2rem; 
}

#contenuSeeAide{
	width: 95%;
	margin: auto;
	padding:1rem;
	border: 1px solid #363636;
	border-radius: 10px;
}