.LinkRougeNull {
	margin-top:1rem;
    color: #e8362c; 
}

.LinkRougeNull:hover{
    color: #e8362c; 
}

h1{
	font-weight: bold;
	color: #2b73b3;
	margin-left: 3rem;
	margin-bottom: 2rem;
	text-decoration:underline;
	margin-top: 2rem; 
}


h3{
	font-weight: bold;
	margin-left: 3rem;
	margin-bottom: 2rem;
	text-decoration:underline;
	margin-top: 2rem; 
}